.wrapper-auth {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register, .login, .forgot, .reset {
    width:400px;
    border:1px solid #7d10cb;
    padding:15px;
    border-radius:15px;
}
